*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* first slide style */
.firstContainer{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 600px;
}

.firstImage{
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin-top: 40px;
}

.firstContainerContent{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    margin-left: 200px;
    /* background-color:coral; */
}

.firstHeader{
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 15px;
}

.secondHeader{
    letter-spacing: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 30px;
    font-size: 40px;
    border-radius: 10px;
}

.thirdHeader{
    letter-spacing: 5px;
    color:#5A4FCF;
    margin-bottom: 12px;
    padding: 10px;
}

.paragraph{
    letter-spacing: 1.2px;
    font-size: 16px;
    margin-bottom: 30px;
}

#iconOne{
    color: #5A4FCF;
}

.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 13px;
    width: 200px;
    height: 50px;
    border-style: none;
    background-color: #5A4FCF;
    letter-spacing: 2px;
    color: white;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.btn:hover{
    background-color: #4169E1;
    font-size: 15.5px;
    border-radius: 5px;
    transition: all 0.8s linear;
}
/* end of first slide styles */

/* second slide styling */
.secondContainer{
    padding: 50px;
    height: 500px;
    background-color: #DEDEDE;
}

.projects{
    display: flex;
    justify-content: space-around;
}

.fourthHeader{
    font-size: 18px;
    letter-spacing: 2.5px;
    margin-top: 20px;
    margin-left: 30px;
}

.boxOne{
    margin-top: 50px;
    margin-left: 40px;
    cursor: pointer;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.boxOne:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 7px;
    transition: all 0.6s linear;
}

.secondImage{
    width: 300px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.boxTitle{
    letter-spacing: 2px;
    margin-left: 80px;
    font-size: 17px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}
/* end of second slide styling */

/* third slide styling */
.thirdContainer{
    padding: 50px;
    height: 500px;
    background-color: #DEDEDE;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fifthHeader{
    font-size: 18px;
    letter-spacing: 2.5px;
    margin-top: 20px;
    margin-left: 30px;
}

.skills{
    height: 400px;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.codingSkills{
    height: 70px;
    cursor: pointer;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.codingSkillsHeader{
    margin-top: 50px;
    background-color: #DEDEDE;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 45px;
    letter-spacing: 2px;
    font-size: 17px;
}

.codingSkillsHeader:hover{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.6s linear;
}

.codingSkillsContent{
    margin-top: 10px;
    margin-left: 5px;
}

#codingSkillsParagraph{
    margin-left: 80px;
}

.codingSkills:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 7px;
    transition: all 0.6s linear;
}

.softSkills{
    height: 70px;
    cursor: pointer;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.softSkills:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.6s linear;
}

.skillOne{
    display: flex;
    margin: 0 10px;
}

.skillTwo{
    display: flex;
    margin: 0 10px;
}

.skillThree{
    display: flex;
    margin: 0 10px;
}

#jsIcon{
    color: #E49B0F;
}

#htmlIcon{
    color: #FF5733;
}

#cssIcon{
    color: #0096FF;
}

h4{
    margin-bottom: 10px;
}

li{
    list-style-type: none;
}

.softSkillsHeader{
    margin-top: 20px;
    background-color: #DEDEDE;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 45px;
    letter-spacing: 2px;
    font-size: 17px;
}

.softSkillsHeader:hover{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.6s linear;
}

#softSkillsParagraph{
    margin-left: 100px;
}

.softSkillsContent{
    margin-top: 10px;
    margin-left: 5px;
}

.softSkillOne{
    margin: 0 10px;
}

.softSkillTwo{
    margin: 0 10px;
}

.softSkillThree{
    margin: 0 10px;
}

.softSkillFour{
    margin: 0 10px;
}

#problemSolvingIcon{
    color: #E49B0F;
}

#teamWorkIcon{
    color: #5A4FCF;
}

#communicationIcon{
    color: #0096FF;
}
/* end of third slide styling */

/* fourth slide styling */
.fourthContainer{
    padding: 50px;
    height: 250px;
    background-color: whitesmoke;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.socials{
    margin-top: -20px;
}

.sixthHeader{
    font-size: 18px;
    letter-spacing: 2.5px;
    margin-top: 20px;
    margin-left: 30px;
}

.firstSocials{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 50px;
}

.secondSocials{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.githubIcon{
    margin-right: 20px;
}

.githubIcon:hover{
    color: #E49B0F;
    transition: all 1s linear;
}

.linkedinIcon{
    color: #0096FF;
    transition: all 1s linear;
}

.linkedinIcon:hover{
    color: black;
}

/* end of fourth slide styling */